.containerA {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/diuwwiwqs/image/upload/v1713634681/9696_obzstd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .columnsA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .columnA {
    
    width: 30%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .columnA img {
    
    margin-top: 5px;
    width: 80%; /* Adjusted width */
    height: 70%;
    border-radius: 20px;
    border: 3px black solid;
    
  }

  p{
    text-align: center;
    font-size: larger;
    color: blue;
  }

  .btnfav {
    margin: 10px;
    padding: 10px 20px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }